@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: #D7E5E3;
    color: #0C646F;
}

main {
    width: 40%; 
    margin: auto;
    background-color: #D7E5E3;
}
menu li {

    list-style:none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #07656E;
    color: white;
}

header menu a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

header menu a.active-page {
    text-decoration: underline;
    font-weight: bold;
}

#desktop-nav menu {
    display: flex;
    gap: 40px;

}



.logo {
    font-size: 24px;
}


/* FAQ section */

button {
    font-family: 'Poppins', sans-serif ;
    font-size: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.faq-question {
    margin: 40px 0px;
}

.faq-question button {

width: 100%;
text-align: left;
border-bottom: 2px solid #07656E;
font-size: 24px;
color: #4C5051;
position: relative;
}

.faq-question button.closed::after {
    content: '+';
    position: absolute;
    right: 0px;
    color:#07656E;
    font-size: 30px;
}

.faq-question button.open::after {
    content: '-';
    position: absolute;
    right: 0px;
    color:#07656E;
    font-size: 30px;
}

.faq-question button.closed::after {
    content: '+';
    position: absolute;
    right: 0px;
    color:#07656E;
    font-size: 30px;
}

.faq-question button.open::after {
    content: '-';
    position: absolute;
    right: 0px;
    color:#07656E;
    font-size: 30px;
}

.faq-question p {
    display: none;
} 


#overlay-menu-container {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,.5);
    display: none;
 

   

}

#overlay-menu {
    background-color: #07656E;
    width:80%;
    margin: 90px auto;
    border-radius: 20px;
    position: relative;
    text-align: center;
    padding: 50px;
   
   
    }

    #overlay-menu li a {
        font-size: 28px;
        margin-block: 10px;
        display: inline-block;
    }

    #close-menu {
        position: absolute;
        right: 20px;
        top: 10px;
        color: white;
    }

    #mobile-nav {
        display: none;
    }

    @media (max-width: 900px) {

        #mobile-nav {
            display: block;
        }
        
        #menu-button {
            color: white;
        }
        
        
        #desktop-nav {
            display: none;
        }

        main {
            width: 90%;
        }

    }

/* 







#mobile-nav {
    display: none;
}

@media (max-width: 900px) {

    #mobile-nav {
        display: block;
    }

    #desktop-nav {
        display: none;
    }









#menu-button {
    color: white;
}

